SITE_MINDER_BASE_URL=https://ps8:8443
SITE_MINDER_USERNAME=
SITE_MINDER_PASSWORD=
VERIFY_SSL=false

# MCP Discovery Metadata
MCP_AUTHORIZATION_SERVERS=https://ssp-215.demo-broadcom.com/default/
MCP_RESOURCE_URL=http://localhost:8000/mcp
MCP_SCOPES_SUPPORTED=email,groups,offline_access,openid,phone,profile,urn:iam:myscopes
MCP_AUTH_TOKEN=