SITE_MINDER_BASE_URL=https://ps8:8443
SITE_MINDER_USERNAME=
SITE_MINDER_PASSWORD=
VERIFY_SSL=false
LOG_LEVEL=DEBUG

# MCP Discovery Metadata
MCP_AUTHORIZATION_SERVERS=https://ssp-215.demo-broadcom.com/default/
MCP_RESOURCE_URL=https://mcp.vm.demo:8443/sm-policy/mcp
MCP_APP_NAME=siteminder-policy-assistant
MCP_SCOPES_SUPPORTED=openid,phone,profile,offline_access,groups,siteminder:access,email

# FastMCP Proxy Configuration
MCP_BASE_URL=https://mcp.vm.demo:8443/sm-policy

# IDSP OIDC Configuration (Public Client / PKCE)
IDSP_OIDC_URL=https://ssp-215.demo-broadcom.com/default
IDSP_CLIENT_ID=5fa5bb93-d4e4-4225-b57a-99b3ac8d4982
IDSP_AUDIENCE=https://mcp.vm.demo:8443/sm-policy/mcp
IDSP_SCOPES=openid phone profile offline_access groups siteminder:access email
JWT_SIGNING_KEY=your-random-signing-secret

USE_HTTPS=true
